# LSEG自动化程序配置文件
# 请勿提交此文件到版本控制系统

[lseg_login]
username = ian.zhu@lseg.com
password = x

[sftp]
host = 192.168.0.222
username = ian
password = x
remote_dir = /home/ian/ricchange

[email]
# 163邮箱SMTP配置 (使用SSL端口465)
smtp_server = smtp.163.com
smtp_port = 465
sender = cbible@163.com
password = x
recipient = ian.zhu@lseg.com
enable_email = true

[paths]
downloads_path = C:/Users/jacky/Downloads
target_dir = c:/ric_change
target_file = DownloadRicChangeEvents.xlsx 